.image {
    border: 5px solid;
    position: absolute;
    margin: calc(25vh) calc(50% - 150px) ;
    display: flex;
}

img {
    margin-bottom: -4px;
}

#red {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}