body {
    font-family: 'Roboto', sans-serif;
}

.chat {
    background-color: rgb(24, 20, 36); 
    color: white;
    padding: 10px;
    hr {
        border: 1px solid rgb(34, 33, 49);
    }
    border: 10px solid black;
    margin: -10px;
}

.time {
    display: inline;
    font-size: smaller;
    color: rgb(57, 77, 95);
}

.name {
    display: inline;
    color: lightblue;
    margin: 0;
}

.date {
    color: lightslategray;
    font-size: smaller;
    font-weight: bold;
    margin: 0;
}

.badge {
    display: block;
    position: relative;
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    img {
        position: absolute;
        width: 100px;
        top: -9950px;
        left: -9990px;
        right: -9999px;
        bottom: -9999px;
        margin: auto;
    }
}
.msg{
    display: flex;
}
.message {
    margin-top: 3px;
    font-size: 14px;
    line-height: 17px;
}

.data {
    margin-top: 10px;
    width: 400px;
}
