body {
    counter-reset: total;
}

.checklist input:checked {
    counter-increment: total;
}

.checklistCounter span::after {
    content: counter(total);
}

.checklist ul {
    padding: 0px;
    list-style: none;
}

.logo{
    margin: 0px;
    padding: 0px;
}

.intro {
    margin-top: -20px;
    padding-top: 0px;
}
img {
    margin: 5px;
    width: 100px;
}

.info {
    label {
        user-select: none;
    }
    label::before{
        content: "▶ ";
    }
    input:checked ~ label::before {
        content: "▼ ";
    }
    input[type=checkbox] {
        display:none;
    }
    ul {
        list-style: none;
        display: none;
        margin: 5px;
        padding: 0px 20px;
    }
    input:checked ~ ul {
        display: block;
    }
}

/*ADDITIONAL CSS, ONLY FOR STYLING PURPOSES*/
body {
    background-color: rgb(43, 60, 105);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    label {
        background-color: rgb(63, 82, 130);
        border-radius: 15px;
        border: solid;
        padding: 10px;
    }
    .info div {
        margin: 30px 0px;
    }
    .info ul {
        border: solid;
        margin: 15px 0px;
        padding: 15px;
        background-color: rgb(73, 89, 129);
    }
    .logo {
        margin-bottom: 15px;
    }
    .intro {
        border: solid;
        padding: 0px 10px;
        background-color: rgb(63, 82, 130);
    }
    a {
        color: white;
    }

    textarea {
        border: solid;
        background-color: rgb(83, 83, 133);
        width: calc(100% - 7px);
        height: 200px;
        resize: vertical;
    }
}