html {
    background-color: rgb(0, 0, 0);
    h1,p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }
    a, a:hover, a:focus, a:visited{
        border-style:groove;
        border-radius: 10px;
        border-color: white;
        color: white;
        background-color: rgb(10,10,15);
        border-color: white;
        border-style: solid;
        font-style: normal;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.codebox {
    border-style:groove;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(10,10,15);
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
}
code {
    text-wrap: nowrap;
    white-space: pre;
    color: lightblue;
}
