body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
}

img {
    height: 100vh;
}

#pascals {
    position: absolute;
    font-family: Calibri;
    font-size: 25px;
    background-color: white;
    padding: 0px 5px;
}
