html, body{
    background-color: rgb(24, 32, 65);
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    width: 100%;
}

.sliderdiv{
    width: 100%;
    input{
        width: 100%;
        appearance: none;
        outline: none;
        height: 30px;
    }
}
