
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(
        rgba(114, 53, 212, 0) 0px 10px,
        rgb(40, 50, 134) 10px 20px
        );
    background-size: 100px 100px;
    animation: move-y 2s linear infinite;
}

.background-x{
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(
        90deg,
        rgba(114, 53, 212, 0) 0px 10px,
        rgb(40, 50, 134) 10px 20px
        );
    background-size: 100px 100px;
    animation: move-x 2s linear infinite;
}

body {
    background-color: rgb(47, 64, 133);
    overflow: hidden;
    display: flex;
    justify-content: center;
    h1 {
        font-family: Arial;
        position: absolute;
        font-size: 75px;
        top: -40px;
        text-shadow: -2px;
        text-shadow: 0px -2px white, 1px -1px white, 1px 1px white,-2px -1px white,-2px 2px white ;
        color: black;

    }
    iframe {
        position: absolute;
        top: 100px;
        width:calc(80vw - 50px);
        height: calc(calc(80vw - 50px) / calc(1920 / 1080));
        border-style: solid;
        border-width: 5px;
    }
}

@keyframes move-y {
    0% {
        background-position-y: initial;
    }
    100% {
        background-position-y: 100px;
    }
}

@keyframes move-x {
    0% {
        background-position-x: initial;
    }
    100% {
        background-position-x: 100px;
    }
}