@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');
table {
    margin: 10px;
    border-spacing: 0;
    border-collapse: collapse;
    td,th {
        border: 1px solid;
        padding: 5px;
    }
}

h3 {
    margin-bottom: 0;
}


img, svg {
    position: absolute;
    left: 0;
}

img {
    opacity: 0;
}

