img {
    position: absolute;
    user-select: none;
    -ms-user-select: ;
}

.settings {
    p {
        margin: 0;
    }
    #value {
        display: inline-block;
    }
    input {
        height: 6px;
    }
}